.initial-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 75px;
    width: 100%;
    color: white;
}

.initial-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.initial-text p {
    text-align: center;
    font-size: larger;
    width: 80%;
}


.games-examples {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #1b3358b1;
    padding: 10px;
}

.box p {
    color: #f5f5f7;
    font-size: medium;
}

.example-game-1 {
    background-image: linear-gradient(to bottom, #1d3458, #112036);
    gap: 10px;
}

.example-game-2 {
    background-image: linear-gradient(to bottom, #1d3458, #112036);
    gap: 10px;
}

.example-game-3 {
    background-image: linear-gradient(to bottom, #1d3458, #112036);
    gap: 10px;
}

.box-icon {
    font-size: 36pt;
}

.game-text {
    text-align: center;
}

.myhistory-game h1, h2{
    margin-top: 0.7%;
    margin-bottom: 0.7%;
}

.myhistory-game a {
    text-decoration: none;
    color: black;   
}

.text-blue {
    color: #1a74ea;
}
