* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
  font-family: 'Inter', serif;
}

body, p, li, a {
  font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.7%;
    background-color: #1793d1;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;   
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.div-navbar li{
    list-style-type: none;
}

.content {
    margin-top: 0.7%;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #1793d1;
    height: 5vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: black;   
}